@model ProductViewModel

<div class="card shadow boarder-0 my-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-3">
        <div class="row">
            <div class="col-12 ">
                <h2 class="text-white text-center py-2">@(Model.Product.ProductId!=0 ? "Update" : "Create") Product </h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">

        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="Product.ProductId" hidden />
            <input asp-for="Product.ImageUrl" hidden />
            <div class="row">
                <div class="col-10">

                    <div class="border p-3 ">

                        <div class=" py-2 col-12">
                            <label asp-for="Product.ProductName" class="ms-2 text-muted"></label>
                            <input asp-for="Product.ProductName" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.ProductName" class="text-danger"></span>
                        </div>
                        <div class=" py-2 col-12">
                            <label asp-for="Product.Description" class="ms-2 "></label>
                            <input asp-for="Product.Description" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Description" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Price" class="ms-2 "></label>
                            <input asp-for="Product.Price" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Price" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.StockQuantity" class="ms-2"></label>
                            <input asp-for="Product.StockQuantity" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.StockQuantity" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Brand" class="ms-2"></label>
                            <input asp-for="Product.Brand" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Brand" class="text-danger"></span>
                        </div>

                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Color" class="ms-2"></label>
                            <input asp-for="Product.Color" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Color" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Material" class="ms-2"></label>
                            <input asp-for="Product.Material" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Material" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.Weight" class="ms-2"></label>
                            <input asp-for="Product.Weight" type="text" class="form-control border-0 shadow" />
                            <span asp-validation-for="Product.Weight" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="Product.CategoryID" class="ms-2"></label>
                            <select asp-for="@Model.Product.CategoryID" asp-items="@Model.CategoryList" type="text" class="form-select border-0 shadow">
                                <option disabled selected>---Select Category---</option>
                            </select>
                            <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
                        </div>
                        <div class="form-floating py-2 col-12">
                            <label asp-for="@Model.Product.ImageUrl" class="ms-2"></label>
                            <input type="file" name="file" class="form-control border-0 shadow" />
                        </div>
                        <div class="row pt-2">
                            <div class="col-6 col-md-3">
                                @if (Model.Product.ProductId != 0)
                                {
                                    <button type="submit" class="btn btn-primary form-control">Update</button>
                                }
                                else
                                {
                                    <button type="submit" class="btn btn-primary form-control">Create</button>
                                }
                            </div>
                            <div class="col-6 col-md-3">
                                <a asp-controller="Product" asp-action="Index" class="btn-outline-secondary form-control b-2">Back To List</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <img src="@Model.Product.ImageUrl" width="100%"
                        style="border-radius:5px; border:1px solid #bbb9b9;" />
                </div>
            </div>
        </form>
    </div>
</div>


@section Scripts{
   @*  <script>
        tinymce.init({
            selector: 'textarea',
            plugins: ' mentions anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed permanentpen footnotes advtemplate advtable advcode editimage tableofcontents mergetags powerpaste tinymcespellchecker autocorrect a11ychecker typography inlinecss',
            toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags',

        });
    </script> *@
@{
    <partial name="_ValidationScriptsPartial" />
}

}
